{% extends '_layouts/_base_page_layout.twig' %}

{# prettier-ignore #}
{% block mainContent %}
  <div class="w-screen h-screen flex items-center justify-center">
    <div class="w-full max-w-screen-sm">
      <div class="p-4">
        <div class="flex flex-col gap-4">
          <a href="/" class="mx-auto text-center">
            {% include '_partials/_useSprite.twig' with {
              id: 'site-logo',
              class: 'w-32 h-32 mx-auto'
            } %}
            <h1 class="text-3xl font-bold mt-4">
              ddev-craftcms-vite
            </h1>
          </a>

          <div class="text-center">
            <p class="">
              Welcome to your new Craft CMS project!
            </p>
            <p>
              For more information on how to get started,
              <a href="https://github.com/dative/ddev-craftcms-vite/blob/main/README.md"target="_blank" class="underline text-blue-500">check the docs</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{#
{% block subcontent %}
  <div>
    Add subcontent here
  </div>
{% endblock %}
#}
